.form-field ion-label {
  font-weight: bold;      // Pone el texto en negrita
  font-size: 14px;        // Cambia el tamaño de la fuente
  color: #666;             // Cambia el color del texto a un gris oscuro
}