<ion-header>
  <ion-toolbar>
    <ion-title>Formulario Reactivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-item>
  <ion-label position="floating"> Username </ion-label>
  <ion-input type = "email" [formControl] = "user"></ion-input>
  @if (user.invalid) {
  correo invalido 
  }
</ion-item>


<ion-item>
  <ion-label position="floating"> Password </ion-label>
  <ion-input [formControl] = "password"></ion-input>
  @if (password.invalid) {
  contraseña invalida
  }
</ion-item>

<ion-item>
  <ion-label position="floating">Nombre Completo</ion-label>
  <ion-input type="text" [formControl]="nombre"></ion-input>
  @if (nombre.invalid && nombre.touched) {
    <div class="error-message">El nombre es requerido (mín. 3 caracteres).</div>
  }
</ion-item>

<ion-item>
    <ion-label position="floating">Edad</ion-label>
    <ion-input type="number" [formControl]="edad"></ion-input>
  @if (edad.invalid && edad.touched) {
    <div class="error-message">La edad es requerida (mínimo 18 años).</div>
  }
</ion-item>

<ion-item>
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input type="tel" [formControl]="telefono"></ion-input>
  @if (telefono.invalid && telefono.touched) {
    <div class="error-message">El teléfono es requerido (mín. 10 dígitos).</div>
  }
</ion-item>

<ion-item>
    <ion-label position="floating">Ciudad</ion-label>
    <ion-input type="text" [formControl]="ciudad"></ion-input>
  @if (ciudad.invalid && ciudad.touched) {
    <div class="error-message">La ciudad es requerida (mín. 4 caracteres).</div>
  }
</ion-item>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
    <p>Comentario</p>
    <ion-input type="number" formControlName="age"></ion-input>

    <p>Fecha</p>
    <ion-input type="date" formControlName="birth"></ion-input>

    <p>Lugar</p>
    <ion-input type="text" formControlName="country"></ion-input>

    <p>Hobby</p>
    <ion-input type="text" formControlName="city"></ion-input>

    <p>Deporte</p>
    <ion-input type="text" formControlName="address"></ion-input>

    <p>Numero de casa</p>
    <ion-input type="text" formControlName="postalCode"></ion-input>
    <br>
  
</form>
</ion-content>