<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lugares Turisticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      @for (spot of touristSpots; track spot.id) { 
        <ion-col size="12" size-md="6">

          <ion-card [routerLink]="['/tabs/spot-detail', spot.id]"> 

            <ion-img [src]="spot.imageUrl" [alt]="spot.name"></ion-img>

            <ion-card-header>
              <ion-card-title>{{ spot.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              {{ spot.description }}
            </ion-card-content>

          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>