<!-- <ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          @if (email?.touched && email?.invalid) {
            <div class="ion-padding-start">
              @if (email?.hasError('required')) {
                <small>Email es requerido.</small>
              }
              @if (email?.hasError('email')) {
                <small>Formato inválido.</small>
              }
              @if (email?.hasError('pattern')) {
                <small>Le falta un @ y .com</small>
              }
              @if (email?.hasError('whitespace')) {
                <small>El email no puede contener espacios en blanco.</small>
              }
            </div>
          }

         
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          @if (password?.touched && password?.invalid) {
            <div class="ion-padding-start">
              @if (password?.hasError('required')) {
                <small>Password es requerido.</small>
              }
              @if (password?.hasError('minCharacters')) {
                <ion-note color ="danger">
                La contraseña debe tener al menos 8 caracteres.
                </ion-note>
              }
            </div>
          }

          
          <ion-item>
            <ion-label position="stacked">Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
          @if (confirmPassword?.invalid && confirmPassword?.touched) {
              @if (confirmPassword?.hasError('required')) {
                <small>Confirmar Password es requerido.</small>
              }
          }
          

          @if (confirmPassword?.touched && confirmPassword?.hasError('passwordMismatch')) {
            
              <ion-note color="danger">
              Las contraseñas no coinciden.
              </ion-note>
            
          }
          <ion-button expand="block" type="submit">Enviar</ion-button>

        </ion-card-content>
      </ion-card>
    </ion-list>
  </form>
</ion-content> -->
