.photo-preview-card {
  margin: 0;
  margin-bottom: 10px;
  box-shadow: none;
  border: 1px solid #e0e0e0;
  
  img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Hace que la foto se recorte bien sin deformarse */
    display: block;
  }
}

.map-wrapper {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.section-divider {
  border-bottom: 2px solid var(--ion-color-light);
  padding-bottom: 5px;
  margin-bottom: 10px;
}