<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sugerir un Lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">

        <ion-card>

          <ion-card-header>
            <ion-card-title class="ion-text-center">
              Sugerir un Lugar Turístico
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>


            <form [formGroup]="suggestForm" (ngSubmit)="onSubmit()" class="ion-margin-top">
              <ion-list lines="full">

                <ion-item>
                  <ion-input label="Nombre del Lugar" labelPlacement="floating" type="text" formControlName="nombre"
                    autocomplete="Nombre del lugar">
                  </ion-input>
                </ion-item>
                @if (nombre?.invalid && nombre?.touched) {
                @if (nombre?.hasError("required")) {
                <ion-note color="danger" class="ion-padding-start">El nombre es obligatorio.</ion-note>
                }
                @if (nombre?.hasError("minlength")) {
                <ion-note color="danger" class="ion-padding-start">El nombre debe tener al menos 5
                  caracteres.</ion-note>
                }
                @if (nombre?.hasError("whitespace")) {
                <ion-note color="danger" class="ion-padding-start">El nombre no puede ser solo espacios.</ion-note>
                }
                }

                <ion-item>
                  <ion-select label="Categoría" labelPlacement="floating" formControlName="categoria"
                    interface="popover" placeholder="Selecciona una">
                    @for (cat of categorias; track cat) {
                    <ion-select-option [value]="cat">{{ cat }}</ion-select-option>
                    }
                  </ion-select>
                </ion-item>
                @if (categoria?.invalid && categoria?.touched) {
                @if (categoria?.hasError("required")) {
                <ion-note color="danger" class="ion-padding-start">Debe seleccionar una categoría.</ion-note>
                }
                }

                <ion-item>
                  <ion-textarea label="Descripción" labelPlacement="floating" formControlName="descripcion"
                    autoGrow="true" [rows]="4" autocomplete="Descripción del Lugar">
                  </ion-textarea>
                </ion-item>
                @if (descripcion?.invalid && descripcion?.touched) {
                @if (descripcion?.hasError("required")) {
                <ion-note color="danger" class="ion-padding-start">La descripción es obligatoria.</ion-note>
                }
                @if (descripcion?.hasError("minWords")) {
                <ion-note color="danger" class="ion-padding-start">La descripción debe tener al menos 8
                  palabras.</ion-note>
                }
                @if (descripcion?.hasError("whitespace")) {
                <ion-note color="danger" class="ion-padding-start">La descripción no puede ser solo espacios.</ion-note>
                }
                }

                <ion-item>
                  <ion-input label="Dirección" type="text" labelPlacement="floating" formControlName="direccion">
                  </ion-input>
                </ion-item>
                @if (direccion?.invalid && direccion?.touched) {
                @if (direccion?.hasError("required")) {
                <ion-note color="danger" class="ion-padding-start">La dirección es obligatoria.</ion-note>
                }
                @if (direccion?.hasError("whitespace")) {
                <ion-note color="danger" class="ion-padding-start">La dirección no puede ser solo espacios.</ion-note>
                }
                }

                <ion-item>
                  <ion-label>Calificación ({{ calificacion?.value }})</ion-label>
                  <ion-range formControlName="calificacion" min="1" max="5" step="1" snaps="true" color="secondary">
                    <ion-icon slot="start" size="small" name="star-outline"></ion-icon>
                    <ion-icon slot="end" name="star"></ion-icon>
                  </ion-range>
                </ion-item>

                <ion-item>
                  <ion-input label="FotoUrl (Opcional)" type="url" labelPlacement="floating" formControlName="fotoUrl"
                    placeholder="http://...">
                  </ion-input>

                </ion-item>
                @if (fotoUrl.invalid && (fotoUrl.touched || fotoUrl.dirty)) {
                @if (fotoUrl.hasError("invalidUrlFormat")) {
                <ion-note color="danger" class="ion-padding-start">
                  La URL debe empezar con http:// o https://
                </ion-note>
                }
                }

                <ion-item>
                  <ion-input label="Contacto" type="email" labelPlacement="floating" formControlName="contacto">
                  </ion-input>
                </ion-item>
                @if (contacto?.invalid && contacto?.touched) {
                @if (contacto?.hasError("required")) {
                <ion-note color="danger" class="ion-padding-start">El contacto es obligatorio.</ion-note>
                }
                @if (contacto?.hasError("email")) {
                <ion-note color="danger" class="ion-padding-start">El formato del correo no es válido.</ion-note>
                }
                @if (contacto?.hasError("domainNotAllowed")) {
                <ion-note color="danger" class="ion-padding-start">Solo se permiten dominios: gmail, yahoo,
                  hotmail.</ion-note>
                }
                }

                <ion-button expand="full" type="submit" class="ion-margin-top">
                  Enviar Sugerencia
                </ion-button>

              </ion-list>
            </form>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>