<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center full-height">
      <ion-col size="12" size-md="8" size-lg="6">

        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <ion-item [class.ion-invalid]="email.invalid && email.touched">
                <ion-input label="Correo Electrónico" labelPlacement="stacked" type="email" formControlName="email"
                  required autocomplete="email">
                </ion-input>
              </ion-item>
              @if (email.invalid && email.touched) {
              <div class="error-messages ion-padding-start">
                @if (email.hasError('required')) { <ion-note color="danger">Obligatorio.</ion-note> }
                @if (email.hasError('missingAtSymbol')) { <ion-note color="danger">Falta el símbolo '@'.</ion-note> }
                @if (email.hasError('missingDomainDot')) { <ion-note color="danger">Falta el '.' después del'@'.</ion-note> }
                @if (email.hasError('invalidStructure')) { <ion-note color="danger">Formato de correo incompleto.</ion-note> }
                @if (email.hasError('domainNotAllowed')) { <ion-note color="danger">Dominio no permitido (Fatla gmail,
                  yahoo, hotmail).</ion-note> }
              </div>
              }

              <ion-item [class.ion-invalid]="password.invalid && password.touched" class="ion-margin-top">
                <ion-input vale="NeverGonnaGiveYouUp" label="Contraseña" labelPlacement="stacked" type="password" formControlName="password"
                  required autocomplete="current-password">
                  <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
              </ion-item>
              @if (password.invalid && password.touched) {
              <div class="error-messages ion-padding-start">
                @if (password.hasError('required')) { <ion-note color="danger">Obligatoria.</ion-note> }
                @if (password.hasError('minlength')) { <ion-note color="danger">Mínimo 6 caracteres.</ion-note> }
                @if (password.hasError('whitespace')) { <ion-note color="danger">No puede ser solo espacios.</ion-note>
                }
              </div>
              }

              <ion-button expand="block" type="submit" class="ion-margin-top">
                Entrar
              </ion-button>

              <div class="ion-text-center ion-margin-top links-container">
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
              </div>

            </form>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>